{% extends 'shop/base.html' %}

{% block content %}

<style>

.contact-box{
    background:#1e1e1e;
    padding:40px;
    border-radius:15px;
    line-height:2;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

h1{
    color:#3b82f6;
    margin-bottom:20px;
}

.info{
    font-size:22px;
    margin-bottom:15px;
}

</style>

<div class="contact-box">

    <h1>📞 Contact Us</h1>

    <div class="info">
        📧 mobilenstore@gmail.com
    </div>

    <div class="info">
        📱 +91 9876543210
    </div>

    <div class="info">
        📍 Hyderabad, Telangana, India
    </div>

</div>

{% endblock %}